<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Search/Filter By</mat-label>
        <mat-select [(ngModel)]="selectedOption" (selectionChange)="selectionChange($event)">
          <mat-option *ngFor="let option of filterOptions" [value]="option">
            {{option.type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div [ngSwitch]="selectedOption.type">
      <mat-form-field appearance="fill" *ngSwitchCase="Filter.Alcoholic">
        <mat-label>Filter by Alcoholic</mat-label>
        <mat-select [(ngModel)]="searchBy">
          <mat-option *ngFor="let option of filters.alcoholic" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngSwitchCase="Filter.Categories">
        <mat-label>Filter by Category</mat-label>
        <mat-select [(ngModel)]="searchBy">
          <mat-option *ngFor="let option of filters.categories" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngSwitchCase="Filter.Ingredients">
        <mat-label>Filter by Ingredient</mat-label>
        <mat-select [(ngModel)]="searchBy">
          <mat-option *ngFor="let option of filters.ingredients" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngSwitchCase="Filter.Glasses">
        <mat-label>Filter by Glass</mat-label>
        <mat-select [(ngModel)]="searchBy">
          <mat-option *ngFor="let option of filters.glasses" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngSwitchCase="Filter.Name">
        <mat-label>Search by name</mat-label>
        <input matInput placeholder="Search by name" [(ngModel)]="searchBy">
      </mat-form-field>
      <mat-form-field appearance="fill" *ngSwitchCase="Filter.FirstLetter">
        <mat-label>Search by first letter</mat-label>
        <input matInput placeholder="Search by first letter" [(ngModel)]="searchBy">
      </mat-form-field>
    </div>
    <div class="search-button-container">
      <button mat-raised-button (click)="getData()" color="primary">Search</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>


    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <ng-container *ngIf="cocktails$ | async as cocktails">
      <mat-grid-list cols='5' rowHeight='5:6' gutterSize='1vw'>
        <mat-grid-tile *ngFor="let cocktail of cocktails">
          <mat-card (click)="openDrinkDetails(cocktail)">
            <div class="img-container">
              <img mat-card-sm-image src="{{cocktail.strDrinkThumb}}" alt="">
            </div>
            <mat-card-content>
              <div> {{cocktail.strDrink}} </div>
            </mat-card-content>
            <mat-spinner *ngIf="cocktail.loading" [strokeWidth]="10" [diameter]="100"></mat-spinner>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
    </ng-container>

  </mat-sidenav-content>
</mat-sidenav-container>

