.sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;

  .mat-sidenav {
    width: 250px;
    padding-top: 20px;
  }
}


.mat-grid-list {
  margin: 20px;
}

.mat-card {
  width: 20vw;
  min-height: 81%;
  cursor: pointer;

  .img-container {
    height: 80%;
    width: 100%;
    padding-bottom: 1vh;
  }

  img {
    height: 100%;
    width: 100%;
  }

  mat-card-content {
    height: 20%;
    width: 100%;
    font-size: 0.75vw;
    text-align: center;
  }

  .mat-spinner {
    position: absolute;
    top: 25%;
    left:25%
  }
}

.mat-form-field {
  width: 100%;
}

.search-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


